body {
  background-color: #b4e5ff;
}

form.back-form {
  background-color: #ffc0cb;
  border: 0px solid #fff;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 22px;
}

h1.TODOLIST {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 50px;
}

div.login > label.label {
  box-sizing: border-box;
  display: block;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

div.login > label.label > input {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid#000;
}

div.keep-login {
  text-align: right;
  margin: 5px auto 5px;
}

div.login-btn > input {
  width: 400px;
  height: 30px;
  background-color: #b4c3ff;
  margin: 5px auto 10px;
  border-radius: 3px;
  font-weight: bolder;
}

div.make-id {
  text-align: right;
}
